.DS_Store
.idea/
src/*.js
src/*.map
src/**/*.js
src/**/*.map
test/*.js
test/**/*.js*
test/**/*.spec.js
test/**/*.spec.js.map
test/*.map
node_modules/
data/
package-lock.json
src/util/AccessTokenManager.ts
